.added{
    background-color:  #36b47b;
}
.edited{
    background-color: rgba(46, 77, 195, 255);
}
.delete{
    background-color:   #eb4340;
}
.success{
    /* background-color: rgba(46, 77, 195, 255); */
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition:  1000ms;

}
.hide{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 0px;
    width: 500px;
    transition: all 1000ms;
}