.header{
    width: 100%;
    background-color: var(--primary-color);
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}